
*{
    margin: 0;
}
header {
    background-color:#8B5FBF;
    color: aliceblue;
    padding: 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    justify-content: space-between; 
          
}
#tele {
    font-size: 30px;
    position: absolute;
    right: 170px;
}
header h1 {
    margin: 0; 
}
.MFOTO {

    position: absolute; /* Establecer posición absoluta */
            top: 6%; 
            transform: translateY(-50%); 
            left: 45%; 
            max-width: 7%; 
            height: auto; 
   
}


ul {
    background-color: transparent;
    color: black   ; 
    text-shadow: 0cap;   
    font-size: 32px;      
    display: flex;
    margin-bottom: 80px;
    list-style-type: none;
    
            
            
    
    }
    ul li {
        margin-top: 10px;
        margin-inline-start: 13%;
        }
    
    body {
     background-color: rgb(240, 248, 255);
     font-family: Arial, Helvetica, sans-serif;
    }
    
    li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        }

#mainr {
text-align: left;
width: 500px;
height: 400px;
margin: 20px auto;
padding: 225px;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 35px #8B5FBF; 
position: absolute;
top: 200px;
left: 50px;
}
#mainr img{
width: 100px;
height: 100px;
position: absolute;
top: 65px;
left: 28px;
background-color:#61398F;
}
#mainr h1 {
position: absolute;
top: 70px;
left: 200px;
background-color:#61398F;
color: aliceblue;
}

.divcl {
    background-color:#61398F;
    padding: 50px;
    width: 300px;
    position: absolute;
    top: 65px;
    left: 70px;

}
.avisos {
    background-color: #61398F;
    padding: 30px;
    width: 60px;
    position: absolute;
    top: 65px;
    right: 70px;
}
#avisa {
    position: absolute;
    top: 0px;
    right: 380px;
}
#lmain {
    text-align: center;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 35px #8B5FBF; 
    position: absolute;
    top: 200px;
    right:30px;

}

#h3 {
color: rgb(193, 194, 195);

}

#main1 {
    text-align: left;
width: 700px;
margin: 20px auto;
padding: 70px;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 35px #8B5FBF; 
position: absolute;
left: 20px;
}
#main1 img {
background-color: rgb(255, 255, 255);
position: absolute;
top: 15%;
}
#main1 h2 {
position: absolute;
right: 450px;
top: 50px;
}


#main2 {
    text-align: left;
width: 700px;
margin: 20px auto;
padding: 70px;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 35px #8B5FBF; 
position: absolute;
left: 20px;
top: 400px;
}
#main2 img {
background-color:rgb(255, 255, 255);
position: absolute;
top: 15%;
}
#main2 h2 {
    position: absolute;
    right: 417px;
    top: 50px;
    }


#main3 {
    text-align: left;
width: 700px;
margin: 20px auto;
padding: 70px;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 35px #8B5FBF; 
position: absolute;
left: 20px;
top: 580px;
}
#main3 img {
background-color: rgb(255, 255, 255);
position: absolute;
top: 15%;
}
#main3 h2 {
    position: absolute;
    right: 500px;
    top: 50px;
    }


    .footer {

        background-color: #8B5FBF ;
        color: aliceblue;
        padding: 40px;
        margin-top: 940px;

      }
    
    .formas{
        margin: 35px 30px;
    
    }
    .formas i {
        font-size: 60px;
        color: rgb(255, 254, 254);
    }
    
    .formas {
        color: rgb(255, 255, 255);
        margin-top: 20px;
    }
      
    body{
        background: linear-gradient(#e1d1ec,white)no-repeat center fixed;
    }
    
    #menu{
        transition-duration: 600ms;
    }
    #menu:hover{
        translate: 10px 10px;
    }
    
    
    @media (max-width: 720px) {
        body{
            background-color: rgb(223, 78, 199);
            
        }
        
        
        }
        
        